.host-page {
  flex: 1;
  padding: 2rem;
}

.host-navigation {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  & a {
    color: #4d4d4d;
  }
}
