@import url("https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #ff8c38;
  --primary-color: #161616;
}

body {
  font-family: Inter;

  line-height: 1.375;

  color: #161616;
  background: #fff7ed;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.page {
  padding: 1rem 0 3rem;
}

.row {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h1 {
  text-wrap: balance;
}

.button {
  display: inline-block;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;

  color: #ffffff;
  background: var(--accent-color);
  border: 0;
  border-radius: 0.31rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  width: 100%;
}

.button.secondary-button {
  color: #ffffff;
  background: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a.active,
a:focus {
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

.message {
  margin: 0 0 2rem;
  padding: 0.875rem;

  color: var(--primary-color);
  background: #ffe4c3;
  border-radius: 0.31rem;
}

.loading-page {
  text-align: center;
}

.login-error {
  text-align: center;
  color: #f00000;
}

.host-van-detail-tabs {
  padding: 1rem 2rem 1.5rem;
  font-size: 0.875rem;
}

.host-van-detail-tabs-nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.host-van-photos img {
  width: 6.75rem;
  height: 6.75rem;
}

.van-detail-price-tab-container .van-detail-price-amount {
  font-size: 1.5rem;
}

.van-detail-price-tab-container .van-detail-price-per-day {
  font-size: 1.25rem;
}
