.site-nav {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  line-height: 1;
  padding: 2rem;
}

.site-nav-link {
  color: #4d4d4d;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.logo-wrapper {
  flex: 1;
}

.site-nav-link.logo {
  color: black;
  font-size: 1.58456rem;
  font-weight: 900;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
